# PWA build artefacts & dependencies
PWA/node_modules/
PWA/dist/
PWA/.env

# macOS
.DS_Store

# ZeroPayModule build artifacts & dependencies
Modules/ZeroPayModule/vendor/
Modules/ZeroPayModule/.phpunit.result.cache
